.button {
    max-height: 20%;
    margin: 10px ;
}

.button input{
    max-width: 30%;
}

.novaClasse {
    font-size: 25px;
    color: chocolate;
}

.Dados {
    font-size: 15px;
    color: blue
}

.inputOutline {
    outline: red 1px solid;
}